# 「.AppleDouble」フォルダを除外
Temp/
Obj/
UnityGenerated/
Library/
Release/
Release/Kokorogue_Data/
logs/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

kokorogue.zip
*.zip
/*.sublime-project
/*.sublime-workspace
/savedata
/ss
/replay
/log
/_replay
